/* set the global bg color*/
body,
.dashboard-header-panel{
  background: #fdfdfd;
}

/* add more spacing to bottom of page */
body {
  padding-bottom: calc(70px + 20vh) !important;
}

/* set global svg icon color */
.uk-panel-teaser .uk-svg-adjust {
  color: #444;
}

/* limit container width */
.uk-container {
  max-width: 1200px;
}

/* change footer colors */
cp-actionbar {
  background-color: #eee;
}

/* change app header colors */
.app-header {
  background-color: #111;
  border-top-width: 0 !important;
}

.app-name,
.app-modulesbar > li > a {
  color: #fff !important;
}

/* remove the dashboard header panel */
.dashboard-header-panel {
  display: none;
}

/* change button color */
.uk-button-primary {
  background-color: #111 !important;
}

/* increase main sidebar spacing */
.app-main > div > div .uk-width-medium-3-4 {
  padding-right: 5vw;
}

.app-main > div > div .uk-width-medium-1-4 {
  padding-left: 5vw;
}

/* decrease main sidebar font size */
.app-main > div > div .uk-width-medium-1-4 {
  font-size: 0.8rem;
}

.app-main > div > div .uk-width-medium-1-4 .uk-text-large {
  font-size: 1em;
  line-height: 19px;
}

/* adjust label for fields */
cp-fieldcontainer label {
  text-transform: uppercase;
  font-size: 0.8rem;
}
